<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" type="text/css" href="../static/style.css">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript src="../static/frontpage.js"></script>
    <title>ResMem</title>
</head>
<body>
<div style="text-align: center;">
<form method=post enctype="multipart/form-data">
    <input type="file" class="custom-file-input" name="file">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Send" id="submit">
</form>
<p hidden>Image sent to server, this may take a few minutes.</p>
</div>
</body>
</html>